/* основний колір тексту #757575 */
/* колір заголовків h3 #212121 */
/* основний колір фону #FFFFFF */
/* додатковий колір фону #F5F4FA */
/* колір геро и футера #2F303A */
/* колір контактів футера rgba(255, 255, 255, 0.6); */
/* колір логотип, кнопка, підсвітка #2196F3*/
/* колір кнопка герой-активна #188CE8 */
/* колір фону героя #c4c4c4 */
/* колір градієнта #2f303a66 */
/* колір іконок клієнтів #AFB1B8 */

/* призначення змінних */
:root {
  /* кольори */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --basic-white-color: #ffffff;
  --logo-web: #2196f3;
  --logo-header: #000000;
  --hero-footer-bgc: #2f303a;
  --contacts-footer-colors: #ffffff99;
  --secondary-bgc: #f5f4fa;
  --button-activ-color: #188ce8;
  --hero-bgc: #c4c4c4;
  --hero-gradient: #2f303a66;
  --client-link-color: #afb1b8;
  /* відступ у сітках */
  --indent: 30px;
}

/* body */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;

  color: var(--primary-text-color);
  background-color: var(--basic-white-color);
}

.background {
  background-color: var(--secondary-bgc);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}
/* логотип*/
.logo {
  margin-right: 93px;

  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--logo-web);
  font-family: 'Raleway';
}
.logo-header {
  color: var(--logo-header);
}

/* кнопки навігації */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--logo-web);
}

.link.current {
  color: var(--logo-web);
}

.header-nav {
  margin-right: auto;
}

/* ссилки на пошту і телефон */
.link-contacts {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}

.icon-contacts {
  fill: currentColor;
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--logo-web);
}

/* Флекс хедера */
.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-group {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-link,
.link-contacts {
  /* display: block; */
  padding-top: 32px;
  padding-bottom: 31px;
}

/* HERO */

.hero-section {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;

  text-align: center;

  background-color: var(--hero-bgc);
  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)),
    url(../images/img-bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--basic-white-color);
}

.hero-button {
  width: 216px;
  height: 50px;
  padding: 10px 26px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  background-color: var(--logo-web);
  color: var(--basic-white-color);

  box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-activ-color);
}

/* Main */

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  /* background-color: aquamarine; */
}
.not-padding {
  padding-top: 0;
}
.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* Особливості роботи */

.subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.feature-item {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--secondary-bgc);

  border-radius: 4px;
}

.feature-text {
  width: 270px;

  line-height: calc(24 / 14);
}
.feature-list {
  display: flex;
}

.feature-list > li:not(:last-child) {
  margin-right: 30px;
}

/* Зміст роботи */

.img-box {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  --items: 3;
}

.img-item {
  flex-basis: calc((100%- (var(--items)-1) * var(--indent))) / var(--items);
}

/* Команда */

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.under-foto {
  padding: 30px 0;

  text-align: center;
  width: 270px;

  background-color: var(--basic-white-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  --items: 4;
}

.team-card {
  flex-basis: calc((100%- (var(--items)-1) * var(--indent))) / var(--items);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #afb1b8;

  background-color: var(--basic-white-color);

  border-radius: 50%;
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--basic-white-color);

  background-color: #2196f3;
}

/* Постійні клієнти */

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients-list > li {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--client-link-color);

  border: 1px solid var(--client-link-color);
  border-radius: 4px;
}

.client-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--logo-web);

  border: 1px solid var(--logo-web);
}

/* FOOTER */

.footer {
  padding: 60px 0;

  line-height: calc(21 / 14);

  background-color: var(--hero-footer-bgc);
}
.logo-footer {
  color: var(--basic-white-color);
}

.link-addresse-footer {
  text-decoration: none;
  font-style: normal;

  color: var(--basic-white-color);
}

.link-addresse-footer:hover,
.link-addresse-footer:focus {
  color: var(--logo-web);
}

.link-contacts-footer {
  text-decoration: none;
  font-style: normal;

  color: var(--contacts-footer-colors);
}

address {
  margin-top: 20px;
}

.addresse:not(:last-child) {
  margin-bottom: 9px;
}

.link-contacts-footer:hover,
.link-contacts-footer:focus {
  color: var(--logo-web);
}

.subtitle-footer {
  margin-bottom: 20px;

  color: var(--basic-white-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-addresse {
  margin-right: 70px;
}

.social-link-footer {
  background-color: #ffffff1a;
}

.social-link-footer > .social-icon {
  fill: var(--basic-white-color);
}

/* Портфоліо */

.filter-button {
  height: 38px;
  padding: 0 22px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  background-color: var(--secondary-bgc);

  border-radius: 4px;
}

.filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--basic-white-color);

  background-color: var(--logo-web);

  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014, 0px 2px 2px #0000001f;
  cursor: pointer;
}

.title-portfolio {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.name-project {
  width: 370px;
  padding: 20px 24px 19px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.text-project {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  --items: 3;
}

.card-project {
  max-height: 404px;
  flex-basis: calc((100%- (var(--items)-1) * var(--indent))) / var(--items);
}

.card-project:hover,
.card-project:focus {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
}
